<h1>Menu Option</h1>
<h2>Choose You Faorite Dishes</h2>
<p>10% off</p>


<%= render 'shared/form_menu', { appetaizers: @appetaizers,
                                 main_dishes: @main_dishes, 
                                 desserts: @desserts, 
                                 drinks: @drinks,
                                 menu: @menu} %>
