<h1 class="heading menu-new-heading">Menu Option</h1>
<h2>Choose Your Favorite Dishes</h2>


<%= render 'shared/form_menu', { appetaizers: @appetaizers,
                                 main_dishes: @main_dishes, 
                                 desserts: @desserts, 
                                 drinks: @drinks,
                                 menu: @menu 
                                } %>
