.orders-show {
  .container {
    min-width: 800px;
  }
  .order-info {

    p {
      margin-bottom: 10px;
      font-weight: bold;
    }

    span {
      margin-left: 5px;
      font-size: 1.2rem;
      color: $secondary-color;
      text-transform: uppercase;
    }
  }
}


.suggested-items {
  margin-top: 20px;
  h2 {
    margin-bottom: 20px;
  }
}

.suggested-items-list {
  display: flex;
  flex-flow: row wrap;
  &__list-item {
   flex: 0 0 40%; 
   margin-bottom: 10px;
  }
}

.popular-items {
  h2 {
    margin-bottom: 20px;
  }
}

.button_to {
  margin-top: 0;
}