.errors-container {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid #DAD7CE;
  border-radius: 5px;
  .error-explanation {
    color: #f85032;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .errors-list {
    margin-left: 20px;
    list-style: disc;
    color: #f85032;
    &__error-message {
      line-height: 1.5em;
    }
  }
}
