header {
  background-image: url("wood-texture-dark.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
}

.main-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: hsla(0, 0%, 13%, 0.9);
  
  ul {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    list-style: none;
    width: 100%;
  }

  a:hover {
    color: $accent-blue;
  }
}

ul li a {
  display: inline-block;
  padding: 10px;
  margin-left: 5px;
  margin-right: 5px;
  text-decoration: none;
  color: #fff;
}

.dashboard-nav {
  padding: 4px;
  background-color: $primary-color;
  a {
    color: #222;
    font-weight: 400px;
    &:hover {
      color: $secondary-color;
    }
  }
  .admin-nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}

