@import url('https://fonts.googleapis.com/css2?family=Revalia&family=Roboto:wght@400;500&display=swap');

/*
  font-family: 'Revalia', cursive;
  font-family: 'Roboto', sans-serif;
*/

body {
  font-family: 'Roboto', sans-serif;  
}

.filter-container p {
  font-family: 'Roboto', sans-serif;  
  font-size: 20px;
  font-weight: bold;
}

.item-info h3 a {
  font-family: 'Revalia', cursive;
}

h1,
h2, 
h3 {
  color: #222;
}

h2 {
  font-family: 'Revalia', cursive;
  font-size: 24px;
}

.heading {
  font-family: 'Revalia', cursive;
  font-size: 30px;
  text-align: center;
}


.item-title {
  font-family: 'Revalia', cursive;
  font-size: 36px;
}

.item-price {
  font-family: 'Roboto', sans-serif;  
  font-weight: bold          ;
  font-size: 24px;
  color: $secondary-color;
}

.item-description {
  font-size: 14px;
}

.list-title {
  font-family: 'Revalia', cursive;
}

.field {
  em {
    font-size: 13px;
    color: #222;    
  }
}


