 // <a href='https://pngtree.com/free-backgrounds'>free background photos from pngtree.com</a>

body {
  height: 100vh;
  display: grid;
  grid-template-rows: min-content auto min-content;
}

header {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.container {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

footer {
  grid-column: 1 / 2;
  grid-row: 3 / 4;

}

.container {
  max-width: 960px;
  padding: 0 25px;
  margin: 0 auto;
  margin-top: 30px;
}

.container-m {
  min-width: 400px;
  margin: auto;
}

.link {
  display: inline-block;
  margin-top: 10px;
}

.item-price {
  display: block;
  margin-bottom: 10px ;
}

img {
  max-width: 100px;
}

.menu-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  li {
    flex: 0 1 40%;
    padding: 10px;
    margin-bottom: 20px;
    list-style: none;
  }
}

.field {
  em {
    display: inline-block;
    margin-bottom: 10px;
  }
}


.grid-wrapper {
  display: grid;
  gap: 40px;
  grid-template-columns: 230px auto;
  aside {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
  .menu-list {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }
}


.footer {
  margin-top: 40px;
}