.menu-option {
  text-align: center;
  margin-bottom: 10px;
  &__button {
    display: inline-block;
    padding: 1em 3em;
    margin: auto;
    margin-bottom: 2%;
    font-weight: bold;
    background-color: $secondary-color;
    color: #fff;
    border: 1px solid $primary-color;
    border-radius: 4%;
  }
  &__discount {
    text-align: center;
    margin-bottom: 5px;
    text-transform: uppercase;
    font-size: 1.2rem;
    span {
      font-weight: bold;
      color: #F0542c;
    }
  }
}

.items-filter {
  form {
    margin-top: 0;
  }
  &__heading {
    font-family: 'Revalia', cursive;
    font-size: 1.3rem;
  }
  &__list-item {
    border-bottom: 1px solid $light_grey;
  }
}

