.item-info {
  margin-bottom: 20px;
  
  &__item-price {
    font-size: 1.5rem;
  }
  &__img-container {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-bottom: 20px;
    width: 200px;
    min-height: 200px;
  }
}


.categories-list {
  list-style: square;
  &__list-item {
    
  }
}

.suggested-items {
  h2 {
    margin-bottom: 20px;
  }
}

.suggested-items-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  max-width: 500px;
  &__list-item {
   flex: 0 1 31%; 
   margin-bottom: 10px;
  }
}