.btn {
  padding: 10px 30px;
  background-color: #F2C64E;
  color: #222;
  font-weight: bold;
  border: 1px solid #F2C64E;
  border-radius: 5%;
  transition: all 0.3s ease-in-out;
}

.sign-up-btn {
  border: 1px solid #CEA22A;
}

.sign-in-btn {
  background-color: #222;
  border: 1px solid #F0542C;
  color: #fff;
}
.sign-in-btn:hover {
  color: #F2C64E;
}

.sign-up-btn:hover {
  color: #F0542C;
}

.btn-add-to-cart {
  padding: 5px 15px;
  font-weight: bold;
  background-color: #F2C64E;
  border: 1px solid #CEA22A;
  border-radius: 5%;
}