select {
  margin-left: 10px;
  margin-right: 10px;
  height: 20px;
}

.btn-filter {
  padding: 5px 20px;
  background-color: #fff;
  border: 2px solid $secondary-color;
  border-radius: 4px;
  font-weight: bold;
}