<h1>Menu</h1>

<div class="filter-container">
<p>Categories:</p>
<form action="/">
  <%= select(:category, :id, @category_options) %>
  <%= submit_tag "Filter" %>
</form>
</div>

<ul class="menu-list">
  <% @items.each do |item| %>
    <% if item.retired %>
      <% if user_signed_in? && current_user.admin %>
        <li>
          <%= render 'shared/item', item: item %>
        </li>
      <% end %>
    <% else %>
        <li>                  
          <%= render 'shared/item', item: item  %>
        </li>
    <% end %>
  <% end %>
</ul>
