.logo {
  display: block;
  background-image: url("logo.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 50px;
  width: 160px;
  margin-left: 20px;
}