/*
==================================
        General Style
==================================
*/

table {
  margin-top: 40px;
  margin-bottom: 30px;
  border-collapse: separate;
  th, 
  td {
    border-bottom: 1px solid #cecfd5;
    padding: 10px 20px;
  }
  
  th {
    white-space: nowrap;
    font-weight: bold;
  }
  
  a {
    color: $dark
  }
  
  a:hover {
    color: $accent-blue
  }
  
  td:first-child {
    border-left: 1px solid #cecfd5;
  }
  
  td:last-child {
    border-right: 1px solid #cecfd5;
  }
  
  tbody tr:nth-child(even) {
    background-color: $light_grey;
  }
  
  thead {
    background-color: $dark;
    color: #e8e3e2;
    
    th:first-child {
      border-top-left-radius: 4px;
    }
    
    th:last-child {
      border-top-right-radius: 4px;
    }
    
  }
  
  
  tfoot {
    background-color: $primary-color;
    tr:last-child {
      
      td:first-child {
        border-bottom-left-radius: 4px;
      }
      
      td:last-child {
        border-bottom-right-radius: 4px;
      }
    } 
  }
}

/*
==================================
        Order Style
==================================
*/

.order-table {
  margin-bottom: 10px;

  &__item-title,
  &__item-description,
  &__menu-title,
  &__menu-description {
    font-weight: bold;
    text-align: left;
  }
  
  &__item-price, 
  &__item-subtotal,
  &__item-quantity, 
  &__menu-quantity,
  &__menu-subtotal,
  &__total {
    text-align: right;
  }
  
  &__total {
    font-weight: bold;
  }
  
  &__menu-remove, 
  &__menu-edit,
  &__item-remove {
    white-space: nowrap;
  }
}

.categories-index {
  .categories-table {
    margin-top: 20px;
    
    td:first-child {
      border-left: none;
    }
    
    td:last-child {
      border-right: none;
    }
    
    &__category-name {
      font-weight: bold;
      padding-left: 0;
      
    }
    
    &__buttons {
      padding-right: 0;
      
      a:first-child {
        margin-right: 10px;
      }
    }
    
    
    tr {
      background-color: #fff;
      border-bottom: $dark;
    }
    
  }
}

/*
==================================
        Orders Style
==================================
*/

.dashboard-index {
  .orders-table {
    margin-top: 10px;
    thead {
      tr {
        background-color: $dark;
      }
    }

    tr {
      background-color: #fff;
    }
    
    td {
      padding: 20px 10px;
    }

    &__actions {
      a {
        margin-right: 10px;
      }
    }

    span[class*="-status"] {
      display: inline-block;
      text-align: center;
      text-transform: capitalize;
      font-weight: bold;
      width: 100px;
      padding: 10px;
      border-radius: 5%;
      margin-right: 20px;
    }

    &__new-status {
      background-color: #fdecc8;
      color: #cc9018;
    }
  
    &__cancelled-status {
      background-color: #fdcac2;
      color: #f85032;
    }
  
    &__completed-status {
      background-color: #d0e7dc;
      color: #449b6d;
    }
  
    &__ordered-status {
      background-color: #F2DCF5;
      color: #ac3fbd;
    }

    &__paid-status {
      background-color: #C4e6f8;
      color: #3284bb;
    }

    td:first-child {
      border-left: none;
    }
    
    td:last-child {
      border-right: none;
    }

    &__order-id {
      a {
        font-weight: bold;
        color: $accent-blue;
        text-decoration: underline;
      }
    }
  }

}